.emptyContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 65vh; /* Full viewport height */
  padding: 24px;
}

.emptyIcon {
  width: 300px;
  height: 202px;
  opacity: 1;
  object-fit: contain;
}

.messageText {
  font-family: "Switzer Variable";
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-align: center;
  color: #717171;
  margin-bottom: 8px;
}

.descriptionText {
  font-family: "Switzer Variable";
  font-size: 16px;
  color: #999;
  text-align: center;
}

.actionBtn {
  margin-top: 16px;
}
