/* .warningMain {
  border: 2px solid #a50000 !important;
  transform: scale(1.02);
  box-shadow: 4px 4px 6px 0px #9d6a6a;
  border-radius: 12px;
  z-index: 9 !important;
} */
.warning,
.warning:hover {
  border: 2px solid #a50000 !important;
  transform: scale(1.02) !important;
  box-shadow: 4px 4px 6px 0px #9d6a6a !important;
  border-radius: 12px !important;
}

.warningBox {
  animation: pulseBox 1.5s infinite ease-in-out;
}

@keyframes pulseBox {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05); /* slightly bigger */
  }
  100% {
    transform: scale(1);
  }
}
/* Red header strip */
.warning::before {
  transform: scale(1.02) !important;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20px;
  background-color: transparent;
  border-radius: 12px 12px 0 0;
}

.urgentText {
  font-family: "Switzer Variable", sans-serif;
  font-weight: 700;
  font-style: normal; /* instead of Bold, CSS uses normal */
  font-size: 35.85px;
  line-height: 100%;
  letter-spacing: 0;
  text-transform: uppercase;
  color: #a50000;
}

.urgentDescription {
  font-family: Switzer Variable;
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  color: #a50000;
}

.urgentImg {
  width: 71.7px;
  height: 69.9px;
  object-fit: contain; /* keeps aspect ratio inside box */
  margin-right: 12px;
}

.urgentErrorHeader {
  background-color: #a60000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.urgentErrorTitle {
  font-family: Switzer Variable;
  font-weight: 500;
  font-style: Bold;
  font-size: 26px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
}

/* Common hover animation */
.mediumHomeSideCard,
.smallShareHomeCardstatBox,
.smallShareHomeCard,
.smallShareHomeCard2statBox,
.smallShareHomeCard2,
.mediumHomeCard,
.mediumHomeCardstatBox,
.reports,
.reportsstatBox,
.mediumHomeSideCardstatBox {
  transition: all 300ms ease-out;
  transform: scale(1);
  cursor: pointer;
  border-radius: 12px;
  z-index: 1;
}
.ant-card-body {
  padding: 20px 10px !important;
  z-index: 1;
}
/* Hover effect */
.mediumHomeSideCard:hover,
.mediumHomeCard:hover,
.reports:hover,
.reportsstatBox:hover,
.smallShareHomeCard:hover,
.smallShareHomeCard2:hover,
.smallShareHomeCardstatBox:hover,
.smallShareHomeCard2statBox:hover,
.mediumHomeCardstatBox:hover,
.mediumHomeSideCardstatBox:hover {
  transform: scale(1.02);
  box-shadow: 4px 4px 6px 0px #00000033;
}

.smallShareHomeCard {
  height: 130px;
  background: #fff;
  border-radius: 13.89px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 0.87px solid #b4b4b4;
  margin-bottom: 10px;
}

.smallShareHomeCardcardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 8px;
}

.smallShareHomeCardcardTitle {
  font-family: "Switzer Variable";
  font-weight: 700;
  font-size: 26px;
  color: var(--Blue-V1, #30426a);

  /* ✅ ADD for wrapping */
  word-break: break-word;
  white-space: normal;
  overflow-wrap: break-word;
}

.smallShareHomeCardbuttonContainer {
  display: flex;
  align-items: center;
}

.smallShareHomeCardstatBox {
  padding: 5px 16px;
  border-radius: 8px;
  min-height: 54px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.smallShareHomeCardcount {
  font-family: "Switzer Variable";
  font-weight: 700;
  font-size: 50px;
  line-height: 99%;
  letter-spacing: 0%;
  font-family: "Switzer Variable";
  font-weight: 700;
  line-height: 100%;
  color: var(--Blue-V1, #30426a);

  /* ✅ ADD for wrapping */
  word-break: break-word;
  white-space: normal;
  overflow-wrap: break-word;
}

.smallShareHomeCardlabel {
  font-family: "Switzer Variable";
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  word-break: break-word;
  white-space: normal;
  overflow-wrap: break-word;
}

.smallShareHomeCard2 {
  height: 175px;
  background: #fff;
  border-radius: 13.89px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 0.87px solid #b4b4b4;
  margin-bottom: 10px;
}

.smallShareHomeCard2cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 8px;
}

.smallShareHomeCard2cardTitle {
  font-family: "Switzer Variable";
  font-weight: 700;
  font-size: 26px;
  color: var(--Blue-V1, #30426a);

  /* ✅ ADD for wrapping */
  word-break: break-word;
  white-space: normal;
  overflow-wrap: break-word;
}

.smallShareHomeCard2buttonContainer {
  display: flex;
  align-items: center;
}

.smallShareHomeCard2statBox {
  padding: 5px 16px;
  border-radius: 8px;
  min-height: 92px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.smallShareHomeCard2count {
  font-family: "Switzer Variable";
  font-weight: 700;
  font-size: 50px;
  line-height: 99%;
  letter-spacing: 0%;
  font-family: "Switzer Variable";
  font-weight: 700;
  line-height: 100%;
  color: var(--Blue-V1, #30426a);

  /* ✅ ADD for wrapping */
  word-break: break-word;
  white-space: normal;
  overflow-wrap: break-word;
}
.smallShareHomeCard2label {
  font-family: Switzer Variable;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  text-transform: uppercase;
  word-break: break-word;
  white-space: normal;
  overflow-wrap: break-word;
}

/* medium card */
.mediumHomeCard {
  height: 250px;
  background: #fff;
  border-radius: 13.89px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 0.87px solid #b4b4b4;
  margin-bottom: 10px;
}

.mediumHomeCardcardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 8px;
}

.mediumHomeCardcardTitle {
  font-family: "Switzer Variable";
  font-weight: 700;
  font-size: 20px;
  color: var(--Blue-V1, #30426a);

  /* ✅ ADD for wrapping */
  word-break: break-word;
  white-space: normal;
  overflow-wrap: break-word;
}

.mediumHomeCardbuttonContainer {
  display: flex;
  align-items: center;
}

.mediumHomeCardstatBox {
  padding: 12px 16px;
  border-radius: 13.89px;
  height: 162px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mediumHomeCardcount {
  font-family: Switzer Variable;
  font-weight: 700;
  font-style: Bold;
  font-size: 50px;
  line-height: 99%;
  letter-spacing: 0%;
  text-align: center;

  /* ✅ ADD for wrapping */
  word-break: break-word;
  white-space: normal;
  overflow-wrap: break-word;
}

.mediumHomeCardlabel {
  font-family: Switzer Variable;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;

  word-break: break-word;
  white-space: normal;
  overflow-wrap: break-word;
}

/* medium side card */

/* medium card */
.mediumHomeSideCard {
  height: 250px;
  background: #fff;
  border-radius: 13.89px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 0.87px solid #b4b4b4;
  margin-bottom: 10px;
}

.mediumHomeSideCardcardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 8px;
}

.mediumHomeSideCardcardTitle {
  font-family: "Switzer Variable";
  font-weight: 700;
  font-size: 26px;
  color: var(--Blue-V1, #30426a);

  /* ✅ ADD for wrapping */
  word-break: break-word;
  white-space: normal;
  overflow-wrap: break-word;
}

.mediumHomeSideCardbuttonContainer {
  display: flex;
  align-items: center;
}

.mediumHomeSideCardstatBox {
  padding: 12px 40px;
  border-radius: 13.89px;
  height: 162px;
  display: flex;
  align-items: center;
  gap: 6px;
  flex-wrap: wrap;
}

.mediumHomeSideCardcount {
  font-family: Switzer Variable;
  font-weight: 700;
  font-style: Bold;
  font-size: 50px;
  line-height: 99%;
  letter-spacing: 0%;
  text-align: center;

  /* ✅ ADD for wrapping */
  word-break: break-word;
  white-space: normal;
  overflow-wrap: break-word;
}

.mediumHomeSideCardlabel {
  font-family: Switzer Variable;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;

  /* white-space: normal;
  word-break: break-word;
  overflow-wrap: break-word;
  display: block; */
  max-width: 100%;
  text-align: left;
}

.mediumHomeCardcardTitle,
.mediumHomeCardcount,
.mediumHomeCardlabel,
.reportscount,
.reportscardTitle,
.reportslabel,
.mediumHomeSideCardcardTitle,
.mediumHomeSideCardcount,
.mediumHomeSideCardlabel,
.smallShareHomeCardcardTitle,
.smallShareHomeCardcount,
.smallShareHomeCardlabel,
.smallShareHomeCard2cardTitle,
.smallShareHomeCard2count,
.smallShareHomeCard2label {
  display: -webkit-box;
  -webkit-line-clamp: 1; /* ✅ Show only 2 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

  word-break: break-word;
  white-space: normal;
}

/* .count-up {
  display: inline-block;
  animation: countUp 0.4s ease-in-out;
}

.count-down {
  display: inline-block;
  animation: countDown 0.4s ease-in-out;
}

@keyframes countUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  50% {
    transform: translateY(-10%);
    opacity: 0.7;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes countDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  50% {
    transform: translateY(10%);
    opacity: 0.7;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
} */
.counterWrapper {
  display: flex;
  gap: 2px;
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
}

.digitWrapper {
  position: relative;
  height: 44px; /* adjust height */
  overflow: hidden;
}

.digitRoll {
  transition: transform 0.5s ease-in-out;
}

.digit {
  height: 36px; /* must match .digitWrapper height */
  display: flex;
  align-items: center;
  justify-content: center;
}

.countWrapper {
  display: flex;
  justify-content: center; /* centers horizontally */
  align-items: center; /* centers vertically if height > content */
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.digitWrapper {
  display: inline-block; /* already makes numbers inline */
}

.nonDigit {
  display: inline-block; /* override for commas, dots */
  width: auto; /* don't take full width */
}

/* reports card */
.reports {
  height: 274px;
  background: #fff;
  border-radius: 13.89px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 0.87px solid #b4b4b4;
  margin-bottom: 10px;
}

.reportscardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 8px;
}

.reportscardTitle {
  font-family: "Switzer Variable";
  font-weight: 700;
  font-size: 26px;
  color: var(--Blue-V1, #30426a);

  /* ✅ ADD for wrapping */
  word-break: break-word;
  white-space: normal;
  overflow-wrap: break-word;
}

.reportsbuttonContainer {
  display: flex;
  align-items: center;
}

.reportsstatBox {
  padding: 12px 16px;
  border-radius: 13.89px;
  height: 192px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.reportscount {
  font-family: Switzer Variable;
  font-weight: 700;
  font-style: Bold;
  font-size: 47px;
  line-height: 103%;
  letter-spacing: 0%;
  text-align: center;

  /* ✅ ADD for wrapping */
  word-break: break-word;
  white-space: normal;
  overflow-wrap: break-word;
}

.reportslabel {
  font-family: Switzer Variable;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;

  word-break: break-word;
  white-space: normal;
  overflow-wrap: break-word;
}

.percentageText {
  font-family: "Switzer Variable";
  font-weight: 500; /* Medium weight */
  font-style: normal; /* normal, not "Medium" */
  font-size: 20px;
  line-height: 100%;
  text-align: center;
  letter-spacing: 0%;
  color: #00640a;
  margin-bottom: -4px;
  margin-left: 9px;
}

.ellipsisContainer {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;

  /* FORCE digits to stay on one line */
  white-space: nowrap;

  display: block; /* important */
}
