.ViewCommentHeading {
  font-size: 26px;
  color: #30426a;
  font-weight: 700;
  font-family: "Switzer Variable";
}

.ViewCommentParagraph {
  font-size: 26px;
  color: #424242;
  font-weight: 400;
  font-family: "Switzer Variable";
}

.mainDivComment {
  padding: 25px 50px !important;
  height: 40vh !important;
  overflow: hidden !important;
  overflow-y: auto !important;
  scrollbar-width: thin !important;
  scrollbar-color: #b9c1d1;
}

.CommentsButtonClass {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 20px !important;
}
