.ViewCommentHeading {
  font-size: 26px;
  color: #30426a;
  font-weight: 700;
  font-family: "Switzer Variable";
}

.ViewCommentParagraph {
  font-size: 26px;
  color: #424242;
  font-weight: 400;
  font-family: "Switzer Variable";
}

.mainDivComment {
  padding: 25px 50px !important;
  height: 40vh !important;
  overflow: hidden !important;
  overflow-y: auto !important;
  scrollbar-width: thin !important;
  scrollbar-color: #b9c1d1;
}

.CommentsButtonClass {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 20px !important;
}

.commentSection {
  margin-bottom: 16px;
}

.acceptComment {
  color: #00640a;
  line-height: 1.7;
  font-family: Switzer Variable;
  font-weight: 400;
  font-style: Regular;
  font-size: 26px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
}

.rejectComment {
  color: #a50000;
  line-height: 1.7;
  font-family: Switzer Variable;
  font-weight: 400;
  font-style: Regular;
  font-size: 26px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
}

.noComment {
  text-align: center;
  color: #424242;
  font-family: Switzer Variable;
  font-weight: 400;
  font-style: Regular;
  font-size: 26px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
}
