.SubmittedText {
  font-size: 30px !important;
  font-weight: 700;
  font-family: "Switzer Variable";
  color: #424242;
}

.submittedTextSubHeading {
  font-size: 20px !important;
  font-weight: 500;
  font-family: "Switzer Variable";
  color: #424242 !important;
}

.SubmittedCenteralized {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 30px 10px; /* Optional spacing */
}

.mainButtonDiv {
  display: flex;
  justify-content: center !important;
  margin-top: 30px !important;
  gap: 15px;
}
