.SubmittedTextHeading {
  font-size: 50px !important;
  font-weight: 700;
  font-family: "Switzer Variable";
  color: #30426a;
}

.SubmittedTextDiscription {
  font-family: "Switzer Variable";
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #424242;
}
.urgentImg {
  object-fit: contain; /* keeps aspect ratio inside box */
  margin-right: 12px;
}
.submittedTextSubHeading {
  font-size: 20px !important;
  font-weight: 500;
  font-family: "Switzer Variable";
  color: #424242 !important;
}

.SubmittedCenteralized {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 30px 10px; /* Optional spacing */
}

.mainButtonDiv {
  display: flex;
  justify-content: center !important;
  margin-top: 30px !important;
  gap: 15px;
}
