.modalBodyRoleAndPoliciesWrapper {
  padding: 10px 30px; /* or any padding you want */
  height: 590px !important;
}

.roleAndPoliciesMainDiv {
  margin-top: 20px;
  background-color: #edf3ff;
  border: 1px solid #edf3ff;
  border-radius: 8px;
  padding: 50px 20px;
  height: 370px;
}

.mainButtonDivClose {
  display: flex;
  justify-content: end !important;
  gap: 20px;
  margin-left: 20px;
}

.BackgroundOfImgAndText {
  padding: 10px 20px;
  display: flex;
  align-items: center; /* centers image and text vertically */
  gap: 12px; /* space between image and text */
}

.nameContainer {
  display: flex;
  flex-direction: column;
}

.FullUserName {
  font-size: 26px !important;
  color: #30426a !important;
  font-weight: 600;
  font-family: "Switzer Variable";
}

.UserStatusesClass {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px !important;
  color: #424242 !important;
  font-weight: 500;
  font-family: "Switzer Variable";
}

.userStatusActive {
  font-size: 14px !important;
  color: #00640a !important;
  font-weight: 700;
  font-family: "Switzer Variable";
}

.roleAndPoliciesHeading {
  font-size: 30px !important;
  color: #30426a !important;
  font-weight: 700;
  font-family: "Switzer Variable";
  margin: 0 !important;
}

.rolesTagsClass {
  font-size: 14px !important;
  color: #30426a !important;
  font-weight: 700;
  font-family: "Switzer Variable";
}

.backgrounColorOfBrokerDetail {
  background-color: #edf3ff !important;
  display: flex;
  flex-direction: column !important;
}

.viewDetailMainLabels {
  font-size: 14px !important;
  color: #30426a !important;
  font-weight: 700;
  font-family: "Switzer Variable";
}

.tagContainer {
  display: flex;
  flex-wrap: wrap; /* Allow wrapping to new lines */
  gap: 10px; /* Adds both row and column gap */
  padding-bottom: 10px;
  width: 500px;
}

.tagClasses {
  font-size: 16px !important;
  font-weight: 400 !important;
  font-family: "Switzer Variable" !important;
  color: #30426a !important;
  border: none !important;
  background-color: #ffffff !important;
  border-radius: 7px !important;
  padding: 5px 10px !important;
  display: inline-flex !important;
  align-items: center;
}

.assignedGroupText {
  font-size: 16px !important;
  font-weight: 700 !important;
  font-family: "Switzer Variable" !important;
  color: #424242 !important;
}

.assignedGroupMainDiv {
  height: 280px;
  margin: 0 !important;
  padding: 10px 30px;
  border: 1px solid #f8fcff;
  border-radius: 12px;
  background-color: #f8fcff;
}

.assignedGroupLabel {
  margin-top: 20px;
  font-size: 14px !important;
  font-weight: 700 !important;
  font-family: "Switzer Variable" !important;
  color: #30426a !important;
}

.noGroupedPolicyAssigned {
  margin-top: 20px;
  font-size: 20px !important;
  font-weight: 700 !important;
  font-family: "Switzer Variable" !important;
  color: #30426a !important;
}

.assignedGroupHeading {
  margin: 0 !important;
  font-size: 20px !important;
  font-weight: 500 !important;
  font-family: "Switzer Variable" !important;
  color: #424242 !important;
  margin-bottom: 20px !important;
}

.assignedGroupSubHeading {
  margin: 0 !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  font-family: "Switzer Variable" !important;
  color: #424242 !important;
}
