.heading {
  font-family: "Switzer Variable", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 100%;
  color: #30426a;
  margin-bottom: 20px;
}

.scrollArea {
  max-height: 65vh;
  overflow-y: auto;
  padding-right: 4px;
}

.collapse {
  background-color: transparent;
}
/* Only affects Panels inside this FAQ Collapse */
.collapse :global(.ant-collapse-item) {
  background-color: aliceblue;
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  margin-bottom: 12px;
  overflow: hidden;
}

.collapse :global(.ant-collapse-header) {
  align-items: center !important;
}
/* .collapse :global(.ant-collapse-expand-icon) {
  align-items: center;
} */

.panel {
  background-color: #fff;
  border: 1px solid #e5e5e5 !important;
  border-radius: 8px !important;
  margin-bottom: 12px;
  overflow: hidden;
}

.question {
  font-family: "Switzer Variable", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #30426a;
}

.description {
  font-family: "Switzer Variable", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #000;
  line-height: 1.5;
}

.expandIcon {
  font-size: 14px;
  color: #30426a;
}
