.dropdownContainer {
  padding: 16px;
  min-width: 284px;
  max-width: 284px;
  border: 0.74px solid #b4b4b4;
  background: #ffffff;
  angle: 0 deg;
  opacity: 1;
  border-radius: 5.94px;
  border-width: 0.74px;
}

.dropdownContainerForType {
  padding: 16px;
  min-width: 159px;
  max-width: 159px;
  border: 0.74px solid #b4b4b4;
  background: #ffffff;
  angle: 0 deg;
  opacity: 1;
  border-radius: 5.94px;
  border-width: 0.74px;
}

.checkboxList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 230px;
  overflow-y: auto;
  margin-bottom: 16px;
}

.buttonGroup {
  display: flex;
  justify-content: flex-end;
}

.divider {
  margin: 0px auto !important;
  border: 0.74px solid #d4d4d4 !important;
}

/* Custom header container with base layout */
.custom-column-header {
  display: inline-flex;
  align-items: center;
  font-family: Switzer Variable;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--Blue-V1, #30426a);
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Highlighted style when filters are applied */
.filtered-header {
  background-color: var(--Blue-V1, #30426a);
  border-radius: 7.09px;
  height: 35px;
  width: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
}

/* Icon base style */
.icon {
  padding-top: 2px;
  font-size: 16px;
  transition: transform 0.3s ease-in-out;
  /* padding-left: 4px auto; */
}

/* Rotate icon when filter is active */
.rotated {
  /* padding-left: 4px auto; */
  transform: rotate(180deg);
}

/* Style for AntD dropdown root if needed */
.table-filter-dropdown .ant-dropdown-menu {
  padding: 0px I !important;
}

.table-filter-headding-text {
  font-family: "Switzer Variable";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  color: var(--Blue-V1, #30426a);
  white-space: normal;
  word-break: break-word;
  /* flex: 1 1 auto; */
  flex: none;
  min-width: 0;
}

.after-selected-table-filter-headding-text{
    font-family: "Switzer Variable";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  color: #FFFFFF;
  white-space: normal;
  word-break: break-word;
  /* flex: 1 1 auto; */
  flex: none;
  min-width: 0;
}