.modalWrapper {
  padding: 20px 30px;
  height: 520px;
  background-color: #ffffff;
}

.modalTitle {
  font-size: 24px;
  font-weight: 700;
  color: #30426a;
  margin: 0;
  font-family: "Switzer Variable";
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.userName {
  font-size: 30px;
  font-weight: 600;
  color: #30426a;
  font-family: "Switzer Variable";
}

.statusDropdown {
  width: 100px;
  height: 50px;
}

.mainContent {
  margin-top: 20px;
  background-color: #edf3ff;
  border-radius: 8px;
  padding: 20px 25px;
  height: 400px;
}

.rolesWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.roleHeader {
  margin-bottom: 10px;
}

.columnHeader {
  font-size: 16px;
  font-weight: 700;
  color: #424242;
  font-family: "Switzer Variable";
}

.roleRow {
  background-color: #ffffff;
  border: 1px solid #dfe6f3;
  border-radius: 6px;
  padding: 8px 12px;
}

.roleTextActive {
  font-size: 14px;
  font-weight: 700;
  color: #424242;
  font-family: "Switzer Variable";
}

.roleTextInactive {
  font-size: 14px;
  font-weight: 700;
  color: #717171;
  font-family: "Switzer Variable";
}

.policySection {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.policyHeading {
  font-size: 20px;
  font-weight: 700;
  color: #424242;
  font-family: "Switzer Variable";
}

.policyDescription {
  font-size: 20px;
  font-weight: 500;
  color: #424242;
  font-family: "Switzer Variable";
  line-height: 1.5;
}

.dropdownLabel {
  font-size: 16px;
  font-weight: 700;
  margin-top: 10px;
  color: #424242;
  font-family: "Switzer Variable";
}

.policyDropdown {
  width: 100%;
  height: 50px;
}

.footerActions {
  margin-top: 30px;
  gap: 16px;
}
.assignedGroupText {
  margin: 0px !important;
  margin-bottom: 20px !important;
  font-size: 16px !important;
  font-weight: 700 !important;
  font-family: "Switzer Variable" !important;
  color: #424242 !important;
}
.assignedGroupMainDiv {
  height: 300px;
  margin: 0 !important;
  padding: 5px 30px;
  border: 1px solid #424242;
  border-radius: 12px;
  background-color: #f8fcff;
}

.assignedGroupLabel {
  margin-top: 20px;
  font-size: 14px !important;
  font-weight: 700 !important;
  font-family: "Switzer Variable" !important;
  color: #30426a !important;
}

.assignedGroupSubHeading {
  margin: 0 !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  font-family: "Switzer Variable" !important;
  color: #424242 !important;
}

.closeIcon {
  position: absolute;
  top: 30px;
  right: 0px;
  cursor: pointer;
  width: 34px;
  height: 34px;
}

.assignedGroupHeading {
  margin: 0 !important;
  font-size: 20px !important;
  font-weight: 500 !important;
  font-family: "Switzer Variable" !important;
  color: #424242 !important;
  margin-bottom: 20px !important;
}

.noGroupedPolicyAssigned {
  margin-top: 20px;
  font-size: 20px !important;
  font-weight: 700 !important;
  font-family: "Switzer Variable" !important;
  color: #30426a !important;
}

.UserStatusDropdown :global(.ant-select-selector) {
  border: 1px solid #717171 !important;
}
