.detailsContainer {
  padding: 24px;
}

.label {
  display: block;
  font-family: "Switzer Variable", sans-serif;
  font-weight: 600;
  color: #30426a;
  font-size: 16px;
  margin-bottom: 8px;
}

.inputField,
.textareaField {
  width: 100%;
  font-size: 15px;
  border-radius: 8px;
  padding: 10px 12px;
  border: 1px solid #717171 !important;
  resize: none;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.inputField:focus,
.textareaField:focus {
  border-color: #30426a;
  box-shadow: 0 0 0 2px rgba(22, 119, 255, 0.2);
  outline: none;
}

/* 🔴 Error Border */
.errorBorder {
  border-color: #a50000 !important;
}

/* 🟢 Success Border */
.successBorder {
  border-color: #52c41a !important;
}

.counter {
  text-align: right;
  color: #8c8c8c;
  font-size: 13px;
  margin-top: 4px;
}

/* 🔴 Error Counter */
.errorCounter {
  color: #a50000 !important;
}

.errorMessage {
  color: #a50000;
  font-size: 13px;
  margin-top: -16px;
  font-weight: 500;
}

.viewtitle {
  font-family: Switzer Variable;
  font-weight: 700;
  font-style: Bold;
  font-size: 26px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  color: #424242;
}

.viewdiscription {
  font-family: Switzer Variable;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  color: #424242;
}

.required {
  font-family: Switzer Variable !important;
  color: #a50000 !important;
  margin-left: 4px !important;
}