/* Base Layout Container */
/* .pageLayout {
  background-color: #ffffff;
  border-radius: 6.94px;
  border: 1px solid #e0e0e0;
  padding: 6px 26px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05);
  max-width: 100%;
  width: calc(100% - 48px); 
  margin-left: 24px;
  margin-right: 24px;
  box-sizing: border-box;
  overflow-x: auto;
  min-height: 86vh;
  margin-top: 30px;
  overflow: hidden;
} */

.pageLayout {
  position: fixed;
  top: 84px;
  left: 88px;
  background-color: #ffffff;
  border-radius: 6.94px;
  border: 1px solid #e0e0e0;
  padding: 6px 26px;
  margin-right: -118px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05);
  width: 92%;
  height: 86vh;
  box-sizing: border-box;
  overflow: hidden;
  margin: 0 !important;
}

/* Optional backgrounds for reuse */
.bg-white {
  background-color: #ffffff;
}

.bg-lightOrange {
  background-color: #fff4ec;
}

.bg-gray {
  background-color: #f5f5f5;
}

.bg-gray-2 {
  background-color: #f5f5f5;
  border: none;
  box-shadow: none;
}

.bg-blue {
  background-color: #edf3ff;
  margin-top: 0px !important;
  min-height: 632px;
  max-width: 96% !important;
}
/* When changeheight = true */
.changeHeightforPolicy {
  min-height: 592px !important;
  max-height: 592px !important;
  top: 180px !important;
}
.bg-transparent {
  background-color: transparent;
}
/* Add this new class */
.changeHeight {
  height: 80vh !important;
  top: 151px !important;
}

.changeHeightreports {
  height: 78vh !important;
  top: 206px !important;
}

.TATHTAchangeHeightreports {
  height: 75vh !important;
  top: 220px !important;
}

.changeHeightlmreports {
  height: 70vh !important;
  top: 206px !important;
}

.changeSessionwiseHeight {
  height: 78vh !important;
  top: 166px !important;
}
.changeHeightReport {
  /* height: 78vh !important; */
  top: 170px !important;
}
.repotsHeight {
  max-height: 575px !important;
  top: 170px !important;
}

.TATHTArepotsHeight {
  max-height: 500px !important;
  top: 225px !important;
}
.repotsHeightHOC {
  max-height: 550px !important;
  top: 170px !important;
}
.sessionwiseHeight {
  height: 80vh !important;
  top: 135px !important;
}
.grouppolicy {
  top: 126px !important;
  height: 80px;
}
