/* Base Layout Container */
.pageLayout {
  background-color: #ffffff;
  border-radius: 6.94px;
  border: 1px solid #e0e0e0;
  padding: 6px 26px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05);
  max-width: 100%;
  width: calc(100% - 48px); /* full width minus horizontal margin */
  margin-left: 24px;
  margin-right: 24px;
  box-sizing: border-box;
  overflow-x: auto;
  min-height: 86vh;
  margin-top: 30px;
  overflow: hidden;
  /* overflow:hidden */
}

/* Optional backgrounds for reuse */
.bg-white {
  background-color: #ffffff;
}

.bg-lightOrange {
  background-color: #fff4ec;
}

.bg-gray {
  background-color: #f5f5f5;
}
.bg-blue {
  background-color: #EDF3FF;
}

.bg-transparent {
  background-color: transparent;
}
/* Add this new class */
.changeHeight {
  min-height: 82vh !important;
}
