.mainDivComment {
  padding: 25px 50px !important;
}

.mainHeadingResubmit {
  font-size: 26px;
  font-weight: 700;
  font-family: "Switzer Variable";
  color: #30426a;
}

.resubmitButtonClass {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 20px !important;
}

.optionClass {
  width: 100%; /* or max-width: 100% */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
  font-family: "Switzer Variable", sans-serif;
  font-weight: 500;
  color: #30426a;
}
.selectedOption {
  background-color: #30426a !important;
  color: #ffffff !important;
}

.selectedOption .optionClass {
  color: #ffffff !important;
}

.textAreaStyle {
  border: 1px solid #717171 !important;
  border-radius: 8px !important;
  padding: 12px !important;
}

.mainDivClass {
  background-color: #edf3ff;
  border-radius: 8px;
  width: 437px;
  height: 44px;
  display: flex;
  justify-content: start !important;
  align-items: center !important;
  cursor: pointer;
  padding: 0 20px;
  transition: 0.3s ease-in-out;
}

.maxCharacterClass {
  text-align: right !important;
  margin-top: 5px;
  font-size: 14px !important;
  font-weight: 500;
  font-family: "Switzer Variable";
  color: #424242 !important;
}
