.complianceOfficerClass {
  background-color: #edf3ff !important;
  height: 79px !important;
  width: 700.83px !important;
  border-radius: 7px !important;
  display: grid !important;
  align-items: center !important;
}
