.mainContainer {
  padding: 20px 40px !important;
}

.uploadTicketHeading {
  font-size: 25px;
  font-family: "Switzer Variable";
  font-weight: 600;
  color: #30426a;
}

.uploadtext {
  font-size: 26px;
  font-family: "Switzer Variable";
  font-weight: 700;
  color: #717171;
}

.uploadImg {
  width: 50px;
  height: 50px;
}

.uploadSubText {
  font-size: 14px;
  font-family: "Switzer Variable";
  font-weight: 500;
  color: #717171;
}

.fileListMainDiv {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  border: 1px solid #d9d9d9 !important;
  border-radius: 8px !important;
  padding: 8px 12px !important;
  background-color: #fff !important;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05) !important;
  max-width: 100%;
}

.fileListSubDiv {
  display: flex;
  align-items: center !important;
  max-width: 80%; /* Or any specific width like 300px */
  overflow: hidden; /* Needed for ellipsis */
}

.fileImagesclass {
  width: 25px !important;
  height: 31px !important;
  margin-right: 8px !important;
}

.fileNameText {
  font-size: 16px;
  font-family: "Switzer Variable";
  font-weight: 500;
  color: #424242;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
  max-width: 100%;
}

.crossImageClass {
  width: 30px !important;
  height: 30px !important;
  cursor: pointer;
}

.noDealTicketClass {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  margin: 15px;
}

.fileListSpacingDiv {
  margin-top: 20px !important;
}

.fileScrollerDiv {
  max-height: 55vh;
  overflow: hidden;
  overflow-y: auto !important;
  scrollbar-width: thin !important;
  scrollbar-color: #b9c1d1 !important;
  padding-right: 10px;
}

.btnClassupload {
  display: flex;
  justify-content: end;
  gap: 10px;
  margin-top: 20px;
}

